mat-form-field {
  width: 100%;
}

.wrapper {
  font-family: sans-serif;
  overflow: hidden;
}

.header {
  font-size: 30px;
  margin-bottom: 20px;
}

input {
  width: 90%;
}

mat-icon {
  position: absolute;
  width: 100%;
  min-width: 40px;
}
